@import url('https://fonts.googleapis.com/css?family=Orbitron');
body,html{
    height: 100%;
    margin: 0;
    font-family: Orbitron;
}
.img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0,0,0,0.35)),url("dc.gif");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.word{
    width: 85%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.word ul li{
list-style: none;
display: inline-block;
margin: 0 20px;
position: relative;
}
.word ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 1000;
    font-weight:   bolder ;
    
}
.logo{
    width: 120px;
    cursor: pointer;
}
.word ul li ::after{
    content:'' ;
    height: 3px;
    width: 0;
    background: yellow;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
.word ul li:hover ::after{
    width:100%;
}
.box{
    max-width: 650px;
    position: relative;
    display: block;
    top: 2%;
    left: 50%;
    transform: translate(-1%,-1%);
    background: rgba(255,255,255,0.4);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.9);
    padding: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    border-radius: 20px;
}
.box h1 {
    font-size: 48px;
    color: rgb(255, 255, 5);
}
.box p {
    color: whitesmoke;
}
