@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Bebas Neue');
@import url('https://fonts.googleapis.com/css?family=Lilita One');
@import url('https://fonts.googleapis.com/css?family=Anta');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Rowdies');

body,html{
    height: 100%;
    margin: 0;
    
}
.img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0,0,0,0.15)),url("how.webp");
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.word{
    width: 85%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Orbitron;

}
.word ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    }
    .word ul li a{
        text-decoration: none;
        color: rgb(14, 14, 1);
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 1000;
        font-weight:   bolder ;
        
    }
    .qq {
        text-align: center;
        margin: 100px auto;
        max-width: 550px;
        position: relative;
        color: rgb(89, 255, 0) ;
        text-transform: uppercase;
    }

    .qq:before {
        background-color: yellow ;
        display: block;
        width: 200px;
        height: 5px;
        content:"";
        position: absolute;
        left: 0;
        top: 50%;
        z-index: -1;
       
        }
    .qq:after{
        background-color: rgb(236, 255, 27);
        display: block;
        width: 200px;
        height: 5px;
        content:"";
        position: absolute;
        right: 0;
        top: 50%;
        z-index: -1;
       
    }
    .ww{
        width: 100%;
        height: 30vh;
        margin: auto;
        padding: 10px ;
        justify-content: space-between;
        font-family: Orbitron;
        background-image: linear-gradient(rgba(0, 3, 8, 0.9),rgba(0, 0, 1, 0.856)),url("dc.gif");
    
    }
    .con1{
        width: 100%;
        display: flex;
        
    }
    .im1{
        width: 50%;
        height: 50vh;
        
    }
    .pp{
        width: 50%;
        height: 50vh;
        
        background-color: rgba(83, 85, 211, 0.856);
        color: antiquewhite;
        justify-content: left;
    }
    .aa{
        margin: 10px;
        padding: 10px;
        font-family: Bebas Neue;
        color: black;
        font-size: 40px;
    }
    .rr{
        height: auto;
        margin: 10px;
        padding: 10px;
        font-size: 30px;
        font-family: Rowdies;
        color: rgb(12, 237, 237);
    }
    .zz{
        margin: 10px;
        padding: 10px;
        font-size: 20px;
        color: rgba(255, 0, 0, 0.588);
        font-family:Lilita One;
    }

    .pic1{
        background-image: url("10.avif");
    }
    .pic2{
        background-image: url("1.avif");
    }
    .pic3{
        background-image: url("2.avif");
    }
    .pic4{
        background-image: url("3.avif");
    }
    .pic5{
        background-image: url("4.avif");
    }
    .pic6{
        background-image: url("5.avif");
    }
    .pic7{
        background-image: url("6.avif");
    }
    .pic8{
        background-image: url("7.avif");
    }
    .pic9{
        background-image: url("8.avif");
    }
    .pic10{
        background-image: url("9.avif");
    }
    .cp{
        text-align: center;
        background-color: black;
        height: 170px;
        margin: 0px;
        padding: 0%;
    }
    .cp p{
        color: white;
        font-family: Anta;
        text-transform: uppercase;
        font-size:10px;
    }
    .logo{
        width: 120px;
        cursor: pointer;
    }
    .kk{
        text-align: center;
        font-size: 50px;
        font-family: Bebas Neue;
        background-color: blue;
    }
    .bx1{
        width: 70%;
        background-color: black;
        height: auto;
        color: white;
        text-align: left;
        padding: 10px;
        font-family: Bebas Neue;
        font-size: 30px;
    }
    .bx2{
            height: auto;
            
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    }