@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Bebas Neue');
@import url('https://fonts.googleapis.com/css?family=Lilita One');
@import url('https://fonts.googleapis.com/css?family=Anta');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Rowdies');

body,html{
    height: 100%;
    margin:0px;
    padding: 0;
    
}
.rr{
    background-color: black;
    color: white;
}
.oo{
    padding: 30px;
    font-family:Rowdies ;
}
.yy{
    padding: 20px;
    font-family: Orbitron;
}
.cp{
    text-align: center;
    background-color: black;
    height: 170px;
    margin: 0px;
    padding: 0%;
}
.cp p{
    color: white;
    font-family: Anta;
    text-transform: uppercase;
    font-size:10px;
}
.tt{
    text-align: center;
    color: aliceblue;
}