@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Bebas Neue');
@import url('https://fonts.googleapis.com/css?family=Lilita One');
@import url('https://fonts.googleapis.com/css?family=Anta');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Rowdies');

body,html{
    height: 100%;
    margin: 0;
    
}
.img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0,0,0,0.15)),url("Momotaros-Sea-Eagles.jpg");
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.word{
    width: 85%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Orbitron;

}
.word ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    }
    .word ul li a{
        text-decoration: none;
        color: rgb(255, 247, 9);
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 1000;
        font-weight:   bolder ;
        
    }
    .qq {
        text-align: center;
        margin: 100px auto;
        max-width: 550px;
        position: relative;
        color: rgb(250, 7, 7) ;
        text-transform: uppercase;
    }

    .qq:before {
        background-color: rgb(0, 0, 0) ;
        display: block;
        width: 200px;
        height: 5px;
        content:"";
        position: absolute;
        left: 0;
        top: 50%;
        z-index: -1;
       
        }
    .qq:after{
        background-color: rgb(4, 4, 0);
        display: block;
        width: 200px;
        height: 5px;
        content:"";
        position: absolute;
        right: 0;
        top: 50%;
        z-index: -1;
       
    }
    .ww{
        width: 100%;
        height: 30vh;
        margin: auto;
        padding: 10px ;
        justify-content: space-between;
        font-family: Orbitron;
        background-image: linear-gradient(rgba(85, 90, 81, 0.9),rgba(162, 232, 173, 0.856)),url("dc.gif");
    
    }
    .con1{
        width: 100%;
        display: flex;
        
    }
    .im1{
        width: 50%;
        height: 50vh;
        
    }
    .pp{
        width: 50%;
        height: 50vh;
        
        background-color: rgba(251, 29, 29, 0.856);
        color: antiquewhite;
        justify-content: left;
    }
    .aa{
        margin: 10px;
        padding: 10px;
        font-family: Bebas Neue;
        color: black;
        font-size: 40px;
    }
    .rr{
        margin: 10px;
        padding: 10px;
        font-size: 30px;
        font-family: Rowdies;
        color: rgb(12, 237, 237);
    }
    .zz{
        margin: 10px;
        padding: 10px;
        font-size: 20px;
        color: rgba(255, 0, 0, 0.588);
        font-family:Lilita One;
    }

   
    .cp{
        text-align: center;
        background-color: black;
        height: 170px;
        margin: 0px;
        padding: 0%;
    }
    .cp p{
        color: white;
        font-family: Anta;
        text-transform: uppercase;
        font-size:10px;
    }
    .logo{
        width: 120px;
        cursor: pointer;
    }
    .cc{
        background-image: url(Katsudō_Shashin.jpg);
        width: 700px;
    height: 300px;
    margin: 10px;
    padding-left: 10px; 
    border-radius: 20px;
    cursor: pointer;
    height: 50vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    }
    .bb{
        background-image: url(Cosmoship_Yamato_vol_1.jpg);
        width: 200px;
    height: auto;
    margin: 10px;
    padding-left: 10px; 
    border-radius: 20px;
    cursor: pointer;
    height: 50vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    }
    .nn{
        background-image: url(Nausicaaposter.jpg);
        width: 200px;
    height: auto;
    margin: 10px;
    padding-left: 10px; 
    border-radius: 20px;
    cursor: pointer;
    height: 50vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    } 
    .ii{
        background-image: url(Kimetsu_no_Yaiba_Mugen_Ressha_Hen_Poster.jpg);
        width: 200px;
    height: auto;
    margin: 10px;
    padding-left: 10px; 
    border-radius: 20px;
    cursor: pointer;
    height: 50vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    }
    .jj{
        
            width: 100%;
            height: auto;
            margin: auto;
            padding: 10px ;
            justify-content: space-between;
            font-family: Orbitron;
            background-image: linear-gradient(rgba(177, 228, 206, 0.9),rgba(34, 252, 71, 0.856)),url("dc.gif");
        
        
    }
.gg{
 font-family: Lilita One;
 font-size: 20px;
}